<! --  Cuando llamas a form_with, le pasas un alcance de identificación para esto formar. En este caso, es el símbolo :article -->
<%= form_with model: @article, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
      <% article.errors.full_messages_for(:text).each do |message| %>
        <div><%= message %></div>
    <% end %>
    </p>

    <p>
      <%= form.submit %>
    </p>

  <% end %>
